DATABASE_HOST=<sensitive>
DATABASE_PORT=<sensitive>

CLIP_MODEL=<sensitive>

VIDEOS_DIR=<sensitive>

REDIS_HOST=<sensitive>
REDIS_PORT=<sensitive>
REDIS_QUEUE_NAME=<sensitive>

OLLAMA_API_URL=<sensitive>
OLLAMA_MODEL_NAME=<sensitive>

ENV=<sensitive>