DATABASE_HOST=<sensitive>
DATABASE_PORT=<sensitive>

CLIP_MODEL=<sensitive>

VIDEOS_DIR=<sensitive>

REDIS_HOST=<sensitive>
REDIS_PORT=<sensitive>
REDIS_QUEUE_NAME=<sensitive>

GENERATION_MODEL=<sensitive>
GENERATION_SERVER_URL=<sensitive>

IMAGE_MODEL=<sensitive>
IMAGE_SERVER_URL=<sensitive>

ENV=<sensitive>

ACCESS_TOKEN_EXPIRE_MINUTES=<sensitive>
SECRET_KEY=<sensitive>
ALGORITHM=<sensitive>